header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  font-size: 25px;
}

#quesPanel{
  text-align: center;
  margin: auto;
  padding: 3px;
  background: blueviolet;
  font-size: 25px;
}

main{
 text-align: center;
}
#btn{
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
#srt{
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
}
.options{
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
}

.hidden {
  display: none;
}


