body{
  background: white;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
nav{
  
}

#quesPanel{
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 1vh;
}

/* Quiz button */
/* .start_btn{
  
}
.start_btn button{
  font-size: 30px;
  
} */